.site-header {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
  padding: 23px 0;
  color: #111517;


}

.dark {
  background-color: #2B3844;
  color: #fff;

}

.site-header__inner {
  display: flex;
  justify-content: space-between;

}

.site-header__name {
  font-size: 24px;
  line-height: 33px;
  font-weight: 800;
  margin: 0;
}

.site-header__mode {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  padding: 0;
  border: none;
  background-color: transparent;

}

@media only screen and (max-width: 450px) {
  .site-header__name {
    font-size: 14px;
    line-height: 20px;
  }

  .site-header__mode {
    font-size: 12px;
    line-height: 16px;
  }
}